@font-face{
    font-family: pepito;
    src: url(../source/URWGeometric-SemiBold.ttf)
}
@font-face {
    font-family: pepitoB;
    src: url(../source/URWGeometric-Black.woff);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: #f1f0f0;
} 
header{
    width:100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #111;
    align-items:center;
    gap:20px;
    height: 5%;
}
header ul{
    list-style: none;
    display: flex;
    gap:60px;
}
header a{
    text-decoration: none;
    color: #111;
    font-size: 1.1em;
    font-family: pepito;
}
header button{
    background: #fff;
    height: 30px;
    font-family: pepitoB;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 12px;
}
main{
    width: 100%;
    display: flex;
    height: calc(100vh - 73px);
}
main article{
    width: 50%;
    box-sizing: border-box;
}
.presentacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.presentacion h1{
    font-family: pepitoB;
    font-size: 60px;
    margin: 30px 10px;
    text-align: right 50px;
}
.presentacion h2{
    font-size: 30px;
}
.presentacion span{
    background: #481EF1;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 40px;
}
.presentacion p{
    font-family: pepito;
    font-size: 28px;
    margin: 20px 10px;
}
.presentacionOpciones{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    gap: 150px;
}
.presentacionOpciones p {
    font-family: pepitoB;
}
.presentacionOpciones button{
    background: #481EF1;
    color: #fff;
    padding: 10px;
    border-radius: 7px;
    box-sizing: border-box;
    font-size: 20px;
    border: none;
    margin: 20px 10px;
    font-family: pepitoB;
}
.presentacionSkills{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    justify-content: space-between;
    margin: 20px 10px;
}
.presentacionSkills h3 {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    justify-content: space-between;
    margin: 20px 10px;
    font-family: pepitoB;
    font-size: 30px;
}
.presentacionSkills div{
    width: 50%;
}
.presentacionSkills div img{
    width: 40%;
}
footer{
    display: flex;
    background: #1E1E1E;
    width: 100%;
    color: #fff;
    width: 100%;
    padding: 15px;
    gap:10px;
    margin-top: 40px;
    max-height: 500px;
    height: 235px;
    background-size: contain;
}
footer ul{
    list-style: none;
}
footer li{
    border-bottom: 1px solid #fff;
    padding-top: 7px;
    font-family: pepitoB;
    margin: auto;
    margin-left: 650px;
    font-size: 30px;
    background-size: contain;
}
footer button{
    background: #FFEB37;
    color: #131313;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-family: pepitoB;
    font-size: 25px;
}
footer div p {
    font-family: pepitoB;
    font-size: 20px;
width: 152px;
height: 54px;
left: 83px;
top: 1002px
}
.profilePhoto{
    background: url(../source/profilePhoto.png) no-repeat center center;
    background-size:cover;
    position: relative;
    height: 1240px;
}
.profilePhoto button{
    bottom: 40px;
    left: 350px;
    background: rgba(217, 217, 217, 0.5);
    color: #222222;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: pepitoB;
    font-size: 30px;
    border: none;
}

.profilePhoto span{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    padding: 4px;
    width: 10px;
    height: 10px;
    color: #000;
    width: 10px;

}
.profilePhoto span img {
    width: 75px;
    height: auto;
    padding-left: 25px;
}
#boton-1 {
  display: inline-block;
  width: 125px;
  height: 25px;
  font-size: 20px;
}

#boton-2 {
  display: inline-block;
  width: 125px;
  height: 25px;
}

#Experiencia {
    margin: 20px 10px;
}

.experiencias {
  height: 1000px; /* Altura fija del contenedor */
  overflow-y: scroll; /* Hacer scrollable el contenido verticalmente */
}

.experiencia {
  margin-bottom: 50px; /* Espacio entre experiencias */
}

.experiencia h2 {
  border-bottom: 1px solid #ccc; /* Subrayar los títulos */
  padding-bottom: 5px; /* Espacio entre el título y la descripción */
}

.experiencia {
    font-family: pepitoB;
    src: url(../source/URWGeometric-Black.woff);
}
h2{
    color: #481EF1;
}
div {
    border: none;
    padding: 0;
}
.experiencia:last-child {
  border-bottom: none;
}

.experiencia img {
  float:right;
  margin-right: 20px;
  width: 100px;
  height: 50px;
}
img {
    display:block ;
    padding-top: -40px;
}
figure{
    margin: 20px 10px  
    };
#class .profilePhoto {
    padding-top: 40px;
}

.presentacion img {
    width: 325px;
}
.Charlemos {
    font-family: pepitoB;
    font-size: 28px;
    margin: 20px 10px;
}
.Form-Registro{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Form-Registro{
    width: 400px;
    background: #6f4cfa;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: pepitoB;
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.Form-Registro h4{
 font-size: 20px ;
 margin-bottom: 20px;
}
.Controls {
    width: 100%;
    background-color: #f7f7f7;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px;
    font-family: pepito;
    font-size: 18px;
}
.Form-Registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.Form-Registro a{
    color: white;
    text-decoration: none;
}
.Form-Registro a:hover{
    color: white;
    text-decoration: underline;
}
.boton {
    width: 100%;
    background: #ffffff;
    border: none;
    padding: 12px;
    color: #6f4cfa;
    margin: 16px 0;
    font-size: 16px;
    font-family: pepitoB;
    border-radius: 8px ;
}
.lobito {
    padding: 15%;
    margin-top: 20px;
}
