$header-bg-color: #111;
$header-link-color: #111;
$header-font-size: 1.1em;
$header-font-family: 'pepito';
$header-font-weight: bold;
$header-button-bg: #fff;
$header-button-height: 30px;
$header-button-font-family: 'pepitoB';
$header-button-border-radius: 10px;
$header-button-padding: 12px;